In [3]:
import pandas as pd
import numpy as np
import math
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
df = pd.read_csv("produits_complet.csv")
df.head()

,Nom,Prix,Catégorie,Note,Nb_avis,En_stock,Lien,Site
0,Support PC de bureau à roulettes – Blanc – MDF...,40.0,Informatique,NaN,NaN,Oui,https://tdiscount.tn/produit/informatique/acce...,Tdiscount
1,PC Portable HP 15-fd0297nk Intel Celeron N100 ...,789.0,Informatique,NaN,NaN,Oui,https://tdiscount.tn/produit/informatique/pc-p...,Tdiscount
2,HP TAPIS GAMING OMEN 100,60031.9,Informatique,NaN,NaN,Oui,https://tdiscount.tn/produit/informatique/acce...,Tdiscount
3,Boîtier verbatim Store ‘n’ Go pour disque dur ...,42.0,Informatique,NaN,NaN,Oui,https://tdiscount.tn/produit/informatique/comp...,Tdiscount
4,Pc Portable MSI Modern 15 F13MG i3 13ème Gén 8...,1409.0,Informatique,NaN,NaN,Oui,https://tdiscount.tn/produit/informatique/pc-p...,Tdiscount

In [5]:
df.info()
df.describe()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1165 entries, 0 to 1164
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nom        1165 non-null   object
 1   Prix       1165 non-null   float64
 2   Catégorie  1165 non-null   object
 3   Note       0 non-null      float64
 4   Nb_avis    0 non-null      float64
 5   En_stock   1165 non-null   object
 6   Lien       1165 non-null   object
 7   Site       1165 non-null   object
dtypes: float64(3), object(5)
memory usage: 72.9+ KB

Nom             0
Prix            0
Catégorie       0
Note         1165
Nb_avis      1165
En_stock        0
Lien            0
Site            0
dtype: int64

In [6]:
df = df.drop(columns=['Lien'])

In [7]:
df.columns

Index(['Nom', 'Prix', 'Catégorie', 'Note', 'Nb_avis', 'En_stock', 'Site'], dtype='object')

In [8]:
import numpy as np
df['Note'] = np.random.uniform(2.0, 8.0, len(df)).round(1)
df['Nb_avis'] = np.random.randint(0, 200, len(df))

In [9]:
df.head()

,Nom,Prix,Catégorie,Note,Nb_avis,En_stock,Site
0,Support PC de bureau à roulettes – Blanc – MDF...,40.0,Informatique,7.7,89,Oui,Tdiscount
1,PC Portable HP 15-fd0297nk Intel Celeron N100 ...,789.0,Informatique,4.4,70,Oui,Tdiscount
2,HP TAPIS GAMING OMEN 100,60031.9,Informatique,5.0,45,Oui,Tdiscount
3,Boîtier verbatim Store ‘n’ Go pour disque dur ...,42.0,Informatique,2.4,91,Oui,Tdiscount
4,Pc Portable MSI Modern 15 F13MG i3 13ème Gén 8...,1409.0,Informatique,5.0,179,Oui,Tdiscount

In [10]:
df.isna().sum()

Nom          0
Prix         0
Catégorie    0
Note         0
Nb_avis      0
En_stock     0
Site         0
dtype: int64

In [5]:
duplicates = df['Nom'].duplicated().sum()
print(f"Number of duplicate product names: {duplicates}")

Number of duplicate product names: 142

In [6]:
df = df.groupby('Nom').agg({
    'Prix': 'mean',            # average price if different
    'Catégorie': 'first',      # assume same category
    'Note': 'mean',            # average rating
    'Nb_avis': 'sum',          # sum of reviews
    'En_stock': 'max',         # 1 if at least one in stock
    'Site': 'first'            # take first site
}).reset_index()

print(f"New dataset length after aggregation: {len(df)}")

New dataset length after aggregation: 1023

In [7]:
df['Nom'].duplicated().sum()   # should be 0 now

np.int64(0)

In [8]:
df.dtypes

Nom           object
Prix         float64
Catégorie     object
Note         float64
Nb_avis      float64
En_stock      object
Site          object
dtype: object

In [9]:
df['Nb_avis'] = df['Nb_avis'].astype(int)

In [10]:
df['En_stock'] = df['En_stock'].apply(lambda x: 1 if str(x).lower() == 'oui' else 0)

In [11]:
df.dtypes

Nom           object
Prix         float64
Catégorie     object
Note         float64
Nb_avis        int64
En_stock       int64
Site          object
dtype: object